:root {
    --blue: #418fde;
    --red: #ff2b75;
}
body {
    display: flex;
    overflow-y: hidden;
}
#left {
    width: 50vw;
    height: 100vh;
    background: var(--blue);
}
#right {
    width: 50vw;
    height: 100vh;
}
#right a {
    border: 3px solid var(--red);
    padding: 5px;
    text-align: center;
    font-family: Oswald;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--red);
    position: absolute;
    margin-top: 14px;
    right: 14px;
    margin-bottom: 0px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.rightimg {
    margin-top: 15px;
    width: 100%;
    display: flex; justify-content: center;
    height: 100%; align-items: center;
}
.rightimg img {
    max-width: 275px;
}
#contentMine {
     width: 100%;
     height: calc(100vh - 350px);
     display: flex; flex-direction: column;
     justify-content: center;
     gap: 0vh;
     font-family: Oswald;
     text-transform: uppercase;
     color: white;
     text-align: center;
}
#contentMine h2 {
    font-size: 4rem;
    margin-bottom: 0;
    font-family: Oswald;
    font-weight: 600;
}
#contentMine h3 {
    font-size: 3rem;
    margin-top: 4vh;
    margin-bottom: 0;
    padding-left: 4vw; padding-right: 4vw;
    font-family: Oswald; font-weight: 500;
}
#contentMine h1 {
    font-size: 2.5rem;
    margin-top:7vh;
    margin-bottom: 0;
    font-family: Lato;
    font-weight: 400;
}
.storebuttons {
    display: flex; justify-content: center;
    width: 100%; height: 200px;
    margin-top: 3vh;
}
.storebuttons img {
    height: auto; max-width: 175px;
}
#botmenuMine {
    display: flex; justify-content: center;
    width: 50vw; height: 100px;
    position: absolute; bottom: 0;
}
#moveMe img {
    min-width: 40px;
    padding-top: 5px;
    height: auto;
}
#botmenuMine ul {
    list-style: none; display: flex; justify-content: center;
    align-items: center;
}
#botmenuMine ul li a {
    text-decoration: none; color: white;
    font-style: italic; align-items: center;
    font-family: Lato; font-weight: 500;
}
#botmenuMine ul li {
    padding-right: 0.75rem;
    font-size: 1.5rem;
}
@media (max-width: 1420px) {
    #contentMine h2 {
        font-size:3.5rem;
    }
    #contentMine h3 {
        font-size: 2.5rem;
        margin-top: 5vh;
    }
    #contentMine h1 {
        font-size: 2.25rem;
    }
}
@media (max-width: 1140px) {
    body {
        flex-direction: column;
        overflow-y: scroll;
    }
    #contentMine {
        width:100vw;
    }
    #contentMine h2 {
        font-size: 3.5rem;
    }
    #contentMine h3 {
        font-size: 3rem;
        padding-left: 10vw; padding-right: 10vw;

    }
    #contentMine h1 {
        font-size: 2.75rem;
    }
    #left {
        width: 100vw;

    }
    #right {
        width: 100vw;
    }
    #right a {
        margin-top: 50px;
    }
    #botmenuMine {
        width: 100vw;
    }
}
@media (max-width: 700px) {
    #contentMine h2 {
        margin-top: 0;
    }
}
@media (max-width: 600px) {
    #botmenuMine ul li {
        font-size: clamp(10px, 1.4rem, 5vw);
        padding-right: clamp(0px, 10px, 2vw);
        
    }
    #botmenuMine ul li:nth-child(1) {
        margin-left: -10px;
    }
}
@media (max-width: 550px) {
    #contentMine h2 {
        margin-top: 0;
        font-size: 3.5rem;
    }
    #contentMine h3 {
        font-size: 2.5rem;
        margin-top: 2vh;
    }
    #contentMine h1 {
        font-size: 2rem;
        margin-top: 4vh;
    }
    .storebuttons {
        flex-direction: column;
    }
}
#right a:hover {
    background: var(--red);
    color: white;
}